<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--EJEMPLO1-->
<!--<h1>Bienvenidos a {{title}}</h1>-->

<!--<div style="text-align: center">-->
<!--EL SELECTOR DEBE COINCIDIR EN EL @Component DE dado.component.ts-->
<!--<app-dado></app-dado>-->
<!--<app-dado></app-dado>-->
<!--<app-dado></app-dado>-->
<!--</div>-->

<!--EJEMPLO2-->
<div style="text-align: center">
  <h4>INTERPOLACIÓN</h4>
  <!--INTERPOLACIÓN DE VARIABLES-->
  <app-dado valor="{{ valor1 }}"></app-dado>
  <app-dado valor="{{ valor2 }}"></app-dado>
  <app-dado valor="{{ valor3 }}"></app-dado>
  <hr />
  <h4>PROPERTY BINDING</h4>
  <!--PROPERTY BINDING-->
  <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>

  <hr />
  <button (click)="tirar()">Tirar</button>
  <hr />
  <p>Resultado:{{ resultado }}</p>
</div>
